@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --background-main: #0a0c1c;
  --background-card: #1b1937;
  --highlighted: #aa5cdb;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: var(--background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card-container {
  background-color: var(--background-card);
  max-width: 327px;
  border-radius: 8px;
}

.image-container {
  background-color: #9e22eb;
  border-radius: 8px 8px 0 0;
}
img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.6;
  display: block;
  border-radius: 8px 8px 0 0;
}

h1,
p,
.data,
.data-description {
  display: block;
  text-align: center;
}

.text {
  padding: 2rem;
}

.highlighted-word {
  color: var(--highlighted);
}

.text h1 {
  line-height: 32px;
  font-size: 1.5rem;
  margin: 0;
  /* font-weight: 700; */
}
.text p {
  line-height: 25px;
  font-size: 15px;
  opacity: 0.75;
  margin-bottom: 1rem;
}
.data {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
  margin-bottom: 0.2rem;
}
.data-description {
  font-family: 'Lexend Deca';
  font-size: 0.8rem;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 12px;
}

.data-container {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  body {
    height: 100vh;
  }
  .card-container {
    max-width: 1130px;
    height: 450px;
    border-radius: 8px;
    display: flex;
  }
  img {
    object-fit: cover;
    height: 100%;
    border-radius: 0 8px 8px 0;
  }

  .image-container {
    order: 2;
    flex-basis: 45%;
    border-radius: 0 8px 8px 0;
  }
  .text {
    order: 1;
    flex-basis: 55%;
    padding: 4rem 7.5rem 4rem 5.5rem;
  }

  .text h1 {
    font-size: 2.2rem;
    line-height: 44px;
    text-align: left;
    margin-bottom: 2rem;
  }

  .data-flex-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
    gap: 3rem;
  }
  /* .data-flex-container:last-child {
    margin-right: 3rem;
  } */
  .text span,
  .text p {
    text-align: left;
  }
}
@media (max-width: 1000px) {
  .text {
    padding: 4rem 2rem;
  }
  .data-flex-container {
    justify-content: flex-start;
    margin-top: 4rem;
    gap: 3rem;
  }
}
